{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main1/cssfiles/textline.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title>Главная</title>
    <style>
      a {
        text-decoration: none; /* Убираем подчёркивание */
        color: #020202;
      }
      a:hover {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
      }
      button.flowtext:hover{
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
        transform: scale(1.2)
      }
      
      
    </style>
  </head>
  <body>
    <div
      style="
        width: 100%;
        height: 100%;
        position: relative;
        background: rgba(74.37, 74.07, 74.07, 0.94);
      "
    >
      
      <div
        style="
          width: 1920px;
          height: 183px;
          left: 0px;
          top: 0px;
          position: fixed;
        "
      >
        <div
          style="
            width: 1920px;
            height: 181px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #280075;
          "
        ></div>
        
      
      <div
        style="
          width: 1920px;
          height: 183px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 1920px;
            height: 181px;
            left: 0px;
            top: 0px;
            position: absolute;
            background:#330080;
          "
        ></div>
        

        <div
          style="
            width: 100%;
            height: 100%;
            left: 1.6%;
            top: 1%;
            position: absolute;
            color: #020202;
            font-size: 64px;
            font-family: Inter;
            font-weight: 400;
            line-height: 140.8px;
            word-wrap: break-word;
          "
        >
          <a style="width: 100%; height: 100%; color:white;" href="/">Главная</a>
        </div>
        <div
          style="
            width: 100%;
            height: 100%;
            left: 17%;
            top: 1.6%;
            position: absolute;
            color: white;
            font-size: 64px;
            font-family: Inter;
            font-weight: 400;
            line-height: 140.8px;
            word-wrap: break-word;
          "
        >
          <a style="width: 100%;height: 100%;color:white;" href="/News/">Новости</a>
        </div>
        <div
          style="
            width: 100%;
            height: 100%;
            left: 34%;
            top: 1.6%;
            position: absolute;
            color: white;
            font-size: 64px;
            font-family: Inter;
            font-weight: 400;
            line-height: 140.8px;
            word-wrap: break-word;
          "
        >
          <a style="height: 100%;width: 100%;color:white;"  href="/News_Game/">Новинки</a>
        </div>
        <div
          style="
            width: 100%;
            height: 100%;
            left: 51%;
            top: 1.6%;
            position: absolute;
            color: white;
            font-size: 64px;
            font-family: Inter;
            font-weight: 400;
            line-height: 140.8px;
            word-wrap: break-word;
          "
        >
          <a  style="height: 100%;width: 100%;color:white;"  href="/Reviews/">Обзоры</a>
        </div>
        <div
          style="
            width: 100%;
            height: 100%;
            left: 68%;
            top: 1.6%;
            position: absolute;
            color: white;
            font-size: 64px;
            font-family: Inter;
            font-weight: 400;
            line-height: 140.8px;
            word-wrap: break-word;
          "
        >
          <a  style="height: 100%;width: 100%;color:white;"  href="/Ratings/">Рейтинги</a>
        </div>
        <form action="/Private_account"> 
          <button>
            <img
              style="
                weight:80%;
                height:80%;
                left:88%;
                top:9%;
                cursor: pointer;
                position: absolute;
                color: white;
              "
        
              src="{% static 'main1/imags/person.png' %}"
            >
          </button>
        </form>
      </div>
      <div
        style="
          width: 72%;
          height: 465%;
          left: 14%;
          top: 98%;
          position: absolute;
          justify-content: center;
          align-items: center;
          display: inline-flex;
        "
      >
        <div style="width: 100%; height: 100%;background-size:cover;background:white; ">
          <form action="/login">
            <button class="flowtext" style="width: 333px; height: 152px; left: 507px; top: 158px; position: absolute;  font-size:100px ;border-width: 0;" >Войти</button>
          </form>
          <form action="/registr">
            <button class="flowtext" style="width: 483px; height: 152px; left: 435px; top: 370px; position: absolute;font-size:50px;border-width: 0;">Зарегистрироваться</button>
          </form>
            <div style="position: absolute;top: 500px;width: 1346px;height: 300px;" >
            
          </div>
        </div>
      </div>
      <img
        style="
          width: 14%;
          height: 465%;
          left: 0%;
          top: 98%;
          position: absolute;
        "
        src="{% static 'main1/imags/side.png' %}"
      />
      <img
        style="
          width: 100%
          height: 100%;
          left: 85.86%;
          top: 98%;
          position: absolute;
        "
        src="{% static 'main1/imags/side.png' %}"
      />

      


    </div>

   
  </body>
</html>
